<h1>The Traveling Artist</h1>

<p>Welcome to The Traveling Artist! Our mission is to help get more exposure to local art stores within the state of Georgia. Click on the "Add New Store" button to enter an art store in your city. </p>


<a href="/artstore/createStore">New Store</a>

<br>

<a href="/artstore/createMaterials">Add Your Material!</a>



<ol class="createStore">
    {{#each stores}}
    <li>
       {{name}}
    </li>
    {{/each}}
</ol>

