<div class="jumbotron">
  <p>Welcome to The Artist's Pocket! Our mission is to help get more exposure to local art stores within the state of Georgia. Click on the "Add New Store" button to enter an art store in your city. </p>
</div>


<div class="text-center">
<a href="/artstore/createStore" class= "btn btn-default">Add New Store</a>

<a href="/materialstore/createMaterials" class= "btn btn-default">Add New Material</a>
</div>


    


<div>
    {{#each stores}}
    <p class="text-center">
       <a href="/artstore/{{_id}}">{{name}}</a>
       <br>
       <a href="/classstore/createClass">Add Class for this Store.</a>
    </p>
    {{/each}}
</div>
