<div class="intro-font">
    <p class="text-center">Welcome to The Artist's Pocket! Our mission is to help art stores get more exposure
        within the state of Georgia. Click on the "Add New Store" button to enter an art store you know and explore the ones that look new to you. </p>
</div>


<div class="text-center">
    <a href="/artstore/createStore" class="btn btn-default btn-warning">Add New Store</a>

    <a href="/materialstore/createMaterials" class="btn btn-default btn-warning">Add New Material</a>
</div>


<br>

<div class="listed-items">
    {{#each stores}}
    <div class="inner-text">
        <p class="text-center">
            <a href="/artstore/{{_id}}">{{name}}</a>
            <br>
            <a href="/classstore/createClass" class="btn btn-default btn-sm">Add Class for this Store.</a>
        </p>
    </div>
    {{/each}}
</div>