
<h2>{{store}}</h2>

<ul>
   <li>Name: </li>
    <li>Address: </li>
    <li>Years Open: </li>
    <li>Website: </li>
    <li>Managers: </li>
    <li>Available Classes: </li>
</ul>

<form method="POST" action="/artstore/{{store}}/?_method=DELETE">
    <input type="submit" value="Delete Store"/>
</form>