body {
    background: url('../images/steve-johnson-5Oe8KFH5998-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
  }

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.intro-font {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.listed-items {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

a {
    color: white;
}

a:hover {
    color: yellow;
    text-decoration: none;
}