body {
    background: url('/images/steve-johnson-5Oe8KFH5998-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-shadow: 3px 3px 4px #000000;
  }
  .intro-font {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-shadow: 3px 3px 4px #000000;
  }
  .listed-items {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 25px;
  }
  a {
    color: white;
  }
  a:hover {
    color: yellow;
  }
  .inner-text {
    background-color: orange;
    opacity: 0.9;
    filter: alpha(opacity=50);
    border-radius: 20px;
  }
  #form-text{
    color: white;
    text-shadow: 3px 3px 4px #000000;
  }
.body-picture {
  background-color: orange;
}