<h1>The Traveling Artist</h1>

<p>Have a favorite material you like to create art with? Click on "Add New Material" to enter your most prized possession. </p>


<a href="/materialstore/createMaterials">Add New Material</a>


<div>
    {{#each materials}}
    <p>
        <a href="./materialstore/oneMaterial">{{type}}</a>
    </p>
    {{/each}}
</div>

<a href="/artstore">View All Stores</a>