<div class="jumbotron">
<p>Enter your favorite material to use in your creations.</p>
</div>

<form method="POST" action="/materialstore/addmaterial"/>
    <div class="form-group">
    <label for="type">Type</label>
    <input type="text" name="type" placeholder="Ex. Paintbrush" />
    </div>
    <label for="quantity">Quantity</label>
    <input type="text" name="quantity"/>

    <label for="brandName">Brand Name</label>
    <input type="text" name="brandName"/>

    <label for="cost">Cost</label>
    <input type="number" name="cost"/>


    <input type="submit" class= "btn btn-default" value="Add New Material"/>
</form>

<a href="/artstore">View All Stores</a>

<a href="/materialstore">View All Materials</a>

