<div class="jumbotron">
<p>This is the class page! Enter a class or two... or ten that your art store teaches.</p>
</div>

<div class="text-center">
<a href="/artstore" class= "btn btn-default">View All Stores</a>

<a href="/classstore/createClass" class= "btn btn-default">Add New Class</a>
</div>

<div>
    {{#each classes}}
    <p class="text-center">
       <a href="./classstore/{{_id}}">{{nameOfClass}}</a> 
    </p>
    {{/each}}
</div>