<form method="POST" action="/classstore/addclass">
    <label for="nameOfClass">Name of Class</label>
    <input type="text" name="nameOfClass"/>

    <label for="nameOfStore">Name of Store</label>
    <input type="text" name="nameOfStore"/>

    <label for="minutesDuration">Minutes Duration</label>
    <input type="text" name="minutesDuration"/>

    <label for="website">Website</label>
    <input type="text" name="website"/>

    <label for="teacher">Teacher</label>
    <input type="text" name="teacher"/>

    <input type="submit" value="Add New Class"/>
</form>

<a href="/classstore">View Class List</a>

<a href="/artstore">View All Stores</a>
